.container{
    width: 100%;
    margin: 10%;
}
.btnlimpiar{
    background-color: green;
    border-radius: 0px;
}
.btnguardar{
    background-color: green;
    border-radius: 0px;
}
.btnagregar{
    background-color: green;
    border-radius: 0px;
}
.btndelete {
    background-color: red;
}
.col1{
    float: left;
    width: 18%;
    text-align: center;
    
}

input {
    margin-top: 10px;
    height: 40px;
    float: left;
    font-size: 20px;    
    
}

.col1 button{
    margin: 2px;
    font-size: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50px;

}


.col2{
    float: left;
    width: 15%;
    font-size: 22px;

}

.col2  div {
    margin-top: 7px;
    height: 50px;

}

.col2 button{
    float: right;
}


.col3{
    float: left;
    width: 13%;
    text-align: center;
}

.col3 button{
    margin: 6px;
    font-size: 20px;    
}

.col3 small{
    display: block;
}

.col3 small{
    color: red;
    font-size: 18px;
}

.col4{
    float: left;
    width: 23%;
}


.col4 textarea{
    font-size: 18px;
    padding-top: 5px;
}

.col5{
    float: left;
    width: 10%;
    margin-top: 90px;
    margin-left: 50px;
}

button{
    color: white;
    background-color: rgb(53, 16, 53);
    font-size: 20px;
}

