<div class="container">
    <form [formGroup]="formulario" >
        <div class="col1">
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput formControlName="inputName">
              </mat-form-field>
            <button mat-raised-button color="primary" (click)="add()" class="btnagregar" >AGREGAR</button>
        </div>
        <div class="col2" *ngIf="getNamesCheck.length > 0" formArrayName="checkName">
            <div *ngFor="let s of getNamesCheck.controls; let i = index " [formGroupName]="i">
                <mat-checkbox  formControlName="check"   name="i">{{s.get('nombre')?.value}}</mat-checkbox>
                <button mat-raised-button color="primary" (click)="clearCheckboxes(i)"  class="btndelete">ELIMINAR</button>
            </div>
        </div>
        <div class="col3">
            <button mat-raised-button color="primary" (click)="saveALL()" class="btnguardar" >GUARDAR</button>
            <small *ngIf="bandera">No existe nada seleccionado</small>
        </div>
        <div class="col4">
           
            <textarea disabled name="" id="" cols="30" rows="10">{{toShow()}}</textarea>
        </div>

        <div class="col5">
            <button mat-raised-button color="primary"  (click)="clearBox()" class="btnlimpiar">LIMPIAR</button>
        </div>
    </form>
</div>
